# Movie Recommender System

In [1]:
#Basic Libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as mt
import seaborn as sns
import nltk

In [2]:
#loading movie and credit csv using Pandas
dfmovie = pd.read_csv(r'C:\Users\Henil\Desktop\MRS\Dataset\tmdb_5000_movies.csv')
dfcredits = pd.read_csv(r'C:\Users\Henil\Desktop\MRS\Dataset\tmdb_5000_credits.csv')

In [3]:
#merging both dfs i.e Movies and Credits
df = dfmovie.merge(dfcredits,on='title')

In [4]:
df.shape

(4809, 23)

In [5]:
dfmovie.shape

(4803, 20)

In [58]:
print(df.head(100))

    movie_id                                     title  \
0      19995                                    Avatar
1        285  Pirates of the Caribbean: At World's End
2     206647                                   Spectre
3      49026                     The Dark Knight Rises
4      49529                               John Carter
..       ...                                       ...
95    157336                              Interstellar
96     27205                                 Inception
97    315011                             Shin Godzilla
98     49051         The Hobbit: An Unexpected Journey
99      9799                  The Fast and the Furious

                                                 tags
0   in the 22nd century, a parapleg marin is dispa...
1   captain barbossa, long believ to be dead, ha c...
2   a cryptic messag from bond’ past send him on a...
3   follow the death of district attorney harvey d...
4   john carter is a war-weary, former militari ca...
..                                                ...
95  interstellar chronicl the adventur of a group ...
96  cobb, a skill thief who commit corpor espionag...
97  from the mind behind evangelion come a hit lar...
98  bilbo baggins, a hobbit enjoy hi quiet life, i...
99  domen toretto is a lo angel street racer suspe...

[100 rows x 3 columns]

In [7]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [8]:
#Feature selection
#droping unwanted Features
df = df[['movie_id','title','overview','genres','keywords','cast','crew']]

In [9]:
df.columns

Index(['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew'], dtype='object')

## Feature Engineering

### Null Values

In [10]:
df.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
df.shape

(4809, 7)

In [12]:
df.dropna()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [13]:
df.duplicated().sum()

0

### Scrapping String columns into relevant data

In [14]:
#Function to convert data into generic format
import ast
def convert(obj):
    Update = []
    for i in ast.literal_eval(obj):
        Update.append(i['name'])
    return Update

#Top 3 cast are taken into consideration
def convert_cast(obj):
    count=0
    Update = []
    for i in ast.literal_eval(obj):
        if count>3:
            break
        Update.append(i['name'])
        count+=1 
    return Update

def convert_crew(obj):
    Update = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            Update.append(i['name'])
    return Update

In [15]:
df.genres = df['genres'].apply(convert)
df.keywords = df['keywords'].apply(convert)
df.cast = df['cast'].apply(convert_cast)
df.crew = df['crew'].apply(convert_crew)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [17]:
#Converting overview into list format
df.overview = df.overview.astype(str)
df.overview = df.overview.apply(lambda x: x.split())

In [18]:
#removing Spaces in words to make two words into a whole word
df['genres'] = df.genres.apply(lambda x: [i.replace(" ","") for i in x])
df['keywords'] = df.keywords.apply(lambda x: [i.replace(" ","") for i in x])
df['cast'] = df.cast.apply(lambda x: [i.replace(" ","") for i in x])
df['crew'] = df.crew.apply(lambda x: [i.replace(" ","") for i in x])

In [19]:
#creating a new Feature 'TAG'
df['tags'] = df.overview + df.genres + df.keywords + df.cast + df.crew

In [20]:
df.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [21]:
#backing old df
backup = df.copy()

In [22]:
df = df.drop(columns=['overview','genres','keywords','cast','crew'])

In [23]:
#converting list into string
df.tags = df.tags.apply(lambda x: " ".join(x))
df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [24]:
#lowering case of tags feature
df.tags = df.tags.apply(lambda x: x.lower())

## Bag of Words

### Vectorization

In [25]:
from nltk import PorterStemmer
ps = PorterStemmer()

In [26]:
#stemming
def stem(text):
    Update=[]
    
    for i in text.split():
        Update.append(ps.stem(i))
        
    return " ".join(Update)

df.tags = df.tags.apply(stem)
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [27]:
#5000 words vector using CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [28]:
vectors = cv.fit_transform(df.tags).toarray()

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
similarity = cosine_similarity(vectors)

In [31]:
similarity

array([[1.        , 0.0833655 , 0.08585457, ..., 0.04559608, 0.        ,
        0.        ],
       [0.0833655 , 1.        , 0.05884899, ..., 0.02344036, 0.        ,
        0.02548236],
       [0.08585457, 0.05884899, 1.        , ..., 0.02414023, 0.        ,
        0.        ],
       ...,
       [0.04559608, 0.02344036, 0.02414023, ..., 1.        , 0.04134491,
        0.0418121 ],
       [0.        , 0.        , 0.        , ..., 0.04134491, 1.        ,
        0.08989331],
       [0.        , 0.02548236, 0.        , ..., 0.0418121 , 0.08989331,
        1.        ]])

## Recommend Model

In [48]:
#using similarity to find movies with most similar tag
def recommend(movie):
    movie_index = df[df['title']==movie].index[0]
    movies_list = sorted(list(enumerate(similarity[movie_index])),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(df.iloc[i[0]].title)

In [63]:
recommend('Iron Man')

Iron Man 3
Iron Man 2
Avengers: Age of Ultron
The Avengers
Captain America: Civil War